
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/pages-application.css" />
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/pages-mycomment.css" />
	
    <!-- 评价订单 -->
    <div class="mycomment">
        <div class="py-container">
            <div class="head">
                <p class="tit">评价订单</p>
                <p class="num"><span class="gray">订单号：</span>6456952641&nbsp;&nbsp;&nbsp;&nbsp;<span class="gray">2017-09-22 09:06:05</span></p>
            </div>
            <div class="service">
                <div class="left">
                    <div class="inner">
                        <img src="__STATIC__/home/img/_/bg-who1.png" />
                        <div class="text">
                            <p class="title">配送服务</p>
                            <p class="gray">羞涩的配送小哥还没更新个人信息</p>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                <div class="stars">
                    <ul>
                        <li>快递包装</li>
                        <li>送货速度</li>
                        <li>配送员服务态度</li>
                    </ul>
                </div>
                <div style="clear:both"></div>
            </div>
            <div style="clear:both"></div>
            <div class="goods">
                <div class="good-item">
                    <div class="left">
                        <div class="img-intro">
                            <img src="__STATIC__/home/img/_/goods1.jpg" />
                            <p><a href="#">维达(Vinda) 抽纸 柔滑3层100抽软抽*8包(新老包装随机发放)</a></p>
                            <p>¥32.00</p>
                            <p class="gray">3层100抽*8包（柔滑）</p>
                        </div>
                    </div>
                    <div class="right">
                        <p class="warn">请至少填写一件商品的评价</p>
                        <div class="summary-wrap clearfix">                   
                            <dl>
                                <dt style="vertical-align:middle">评价晒单</dt>
                                <div class="input">
                                    <div class="demo">
                                        <div id="default-demo"></div>
                                    </div>
                                </div>
                            </dl>
                            <dl class="tags">
                                <dt>
                                    <div class="title">
                                        <i>卖家印象</i>
                                    </div>
                                </dt>
                                <dd><a href="javascript:;" class="selected">纸不错<span title="点击取消选择">&nbsp;</span></a></dd>
                                <dd><a href="javascript:;">质量好<span title="点击取消选择" style="display: none">&nbsp;</span></a></a>
                                </dd>
                                <dd><a href="javascript:;">比超市便宜<span title="点击取消选择" style="display: none">&nbsp;</span></a></a>
                                </dd>
                                <dd><a href="javascript:;">韧性好<span title="点击取消选择" style="display: none">&nbsp;</span></a></a>
                                </dd>
                                <dd><a href="javascript:;">没有纸屑<span title="点击取消选择" style="display: none">&nbsp;</span></a></a>
                                </dd>
                                <dd><a href="javascript:;">纸质柔软<span title="点击取消选择" style="display: none">&nbsp;</span></a></a>
                                </dd>
                            </dl>
                            <dl>
                                <dt>评价晒单</dt>
                                <div class="input"><textarea id="inputComment" name="inputComment" placeholder="商品是否给力？快分享你的购物心得吧~"></textarea></div>
                            </dl>
                        </div>
                    </div>
                    <div style="clear:both"></div>
                </div>
            </div>
            <div class="submit">
                <button class="sui-btn btn-danger btn-submit">提交</button>
                <input type="radio" name="type" value="1"><span>匿名评价</span>
            </div>
            
        </div>
    </div>

<script type="text/javascript" src="__STATIC__/home/js/pages/jquery.raty.min.js"></script>
<script>
        $(function () {
            $(".tags a").click(function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    $(this).children('span').css('display', 'none')
                } else {
                    $(this).addClass('selected');
                    $(this).children('span').css('display', 'block')
                }
            })
        })
    

    $(function () {
      $.fn.raty.defaults.path = '../../assets/img/mycomment/img/';
      $('#default-demo').raty();
    })
    </script>
</body>

</html>