
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/css/pages-myOrder.css" />

		<!--header-->
		<div id="account">
			<div class="py-container">
				<div class="yui3-g home">
					<!--左侧列表-->
					{include file="member/left"}
					<!--右侧主内容-->
					<div class="yui3-u-5-6 body">
						<div class="order">
							<div class="mt">
								<span class="fl"><strong>我的订单</strong></span>
							</div>
						</div>

						<div class="order-detail">

							<div class="ever">
								<ul class="sui-nav nav-tabs">
									<li class="active" style="width: 92.04px;height: 42.4px;">
										<a style="height: 42.4px;" href="#all" data-toggle="tab">全部订单</a>
									</li>
									<li>
										<a href="#pay" data-toggle="tab">待付款<i class="mark">{$nums[0]|default=0}</i></a>
									</li>
									<li>
										<a href="#receive" data-toggle="tab">待收货<i class="mark">{$nums[1]|default=0}</i></a>
									</li>
									<li>
										<a href="#remark" data-toggle="tab">待评价<i class="mark">{$nums[2]|default=0}</i></a>
									</li>
								</ul>
								<div class="clearfix"></div>
								
								<div class="tab-content">
									<div class="chosetype">
												<table class="sui-table table-bordered-simple">
													<thead>
														<tr>
															<th width="29%">
																<span class="sui-dropdown dropdown-bordered"><span class="dropdown-inner">
									      	<a role="button" href="javascript:void(0);" data-toggle="dropdown" data-trigger="hover" class="dropdown-toggle">近三个月订单 <i class="arrow"> <img src="__STATIC__/home/img/barrow.png"/></i></a>
										    <ul role="menu" aria-labelledby="drop1" class="sui-dropdown-menu">
										      <li role="presentation"  class="active"><a role="menuitem" tabindex="-1" href="#">近三个月订单</a></li>
										      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2016年订单</a></li>
										      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2015年订单</a></li>
										      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">2014年订单</a></li>
										    </ul></span></span>
															</th>
															<th width="31%">订单详情</th>
															<th width="13%">收货人</th>
															<th>金额</th>
															<th>
																<span class="sui-dropdown dropdown-bordered"><span class="dropdown-inner">
									      	<a role="button" href="javascript:void(0);" data-toggle="dropdown" data-trigger="hover" class="dropdown-toggle">全部状态 <i class="arrow"> <img src="__STATIC__/home/img/barrow.png"/></i></a>
										    <ul role="menu" aria-labelledby="drop1" class="sui-dropdown-menu">
										      <li role="presentation"  class="active"><a role="menuitem" tabindex="-1" href="#">全部状态</a></li>
										      
										      <li role="presentation"><a role="menuitem" tabindex="-1" href="#">等待付款</a></li>
										       <li role="presentation"><a role="menuitem" tabindex="-1" href="#">等待收货</a></li>
										        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">已完成</a></li>
										       <li role="presentation"><a role="menuitem" tabindex="-1" href="#">已取消</a></li>
										    </ul></span></span>
															</th>
															<th>操作</th>
														</tr>
													</thead>
													<tbody>
													</tbody>
												</table>
											</div>
									<div id="all" class="tab-pane active">
										<div class="orders">

											{foreach $list as $v}
											<table class="sui-table table-bordered">
												<thead>
													<tr>
														<th colspan="5">
															<span class="ordertitle">2017-02-11 11:59　订单编号：{$v.order_sn} <span class="pull-right delete"><img src="__STATIC__/home/img/delete.png"/></span></span>
														</th>
													</tr>
												</thead>
												<tbody>
													{foreach $v.ordergoods as $k=>$g}
													<tr>
														<td width="60%">
															<div class="typographic"><img src="{$g.goods_logo}" />
																<a href="{:url('home/goods/detail', ['id' => $g.goods_id])}" class="block-text">{$g.goods_name}</a><span>x{$g.number}</span>
																<ul class="unstyled list-inline">
																	<li>申请售后</li>
																</ul>
															</div>
														</td>
														{if $k eq 0}
														<td rowspan="2" width="8%" class="center">{$v.consignee_name}</td>
														<td rowspan="2" width="13%" class="center">
															<ul class="unstyled">
																<li>总金额¥{$v.order_amount}</li>
																<li>{$v.pay_type}</li>

															</ul>
														</td>
														<td rowspan="2" width="8%" class="center">
															<a href="javascript:;" class="btn">{$v.pay_status} </a>
														</td>
														<td rowspan="2" width="13%" class="center">
															<ul class="unstyled">
																<li>
																	<a href="javascript:;" target="_blank">评价|晒单</a>
																</li>

															</ul>
														</td>
														{/if}
													</tr>
													{/foreach}
												</tbody>
											</table>
											{/foreach}

										</div>

									</div>

									<div id="pay" class="tab-pane">
										<div class="orders">

											{foreach $list_pay as $v}
											<table class="sui-table table-bordered">
												<thead>
												<tr>
													<th colspan="5">
														<span class="ordertitle">2017-02-11 11:59　订单编号：{$v.order_sn} <span class="pull-right delete"><img src="__STATIC__/home/img/delete.png"/></span></span>
													</th>
												</tr>
												</thead>
												<tbody>
												{foreach $v.ordergoods as $k=>$g}
												<tr>
													<td width="60%">
														<div class="typographic"><img src="{$g.goods_logo}" />
															<a href="{:url('home/goods/detail', ['id' => $g.goods_id])}" class="block-text">{$g.goods_name}</a><span>x{$g.number}</span>
															<ul class="unstyled list-inline">
																<li>申请售后</li>
															</ul>
														</div>
													</td>
													{if $k eq 0}
													<td rowspan="2" width="8%" class="center">{$v.consignee_name}</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>总金额¥{$v.order_amount}</li>
															<li>{$v.pay_type}</li>

														</ul>
													</td>
													<td rowspan="2" width="8%" class="center">
														<a href="javascript:;" class="btn">{$v.pay_status} </a>
													</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>
																<a href="javascript:;" target="_blank">评价|晒单</a>
															</li>

														</ul>
													</td>
													{/if}
												</tr>
												{/foreach}
												</tbody>
											</table>
											{/foreach}

										</div>
									</div>
									<div id="receive" class="tab-pane">
										<div class="orders">

											{foreach $list_receive as $v}
											<table class="sui-table table-bordered">
												<thead>
												<tr>
													<th colspan="5">
														<span class="ordertitle">2017-02-11 11:59　订单编号：{$v.order_sn} <span class="pull-right delete"><img src="__STATIC__/home/img/delete.png"/></span></span>
													</th>
												</tr>
												</thead>
												<tbody>
												{foreach $v.ordergoods as $k=>$g}
												<tr>
													<td width="60%">
														<div class="typographic"><img src="{$g.goods_logo}" />
															<a href="{:url('home/goods/detail', ['id' => $g.goods_id])}" class="block-text">{$g.goods_name}</a><span>x{$g.number}</span>
															<ul class="unstyled list-inline">
																<li>申请售后</li>
															</ul>
														</div>
													</td>
													{if $k eq 0}
													<td rowspan="2" width="8%" class="center">{$v.consignee_name}</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>总金额¥{$v.order_amount}</li>
															<li>{$v.pay_type}</li>

														</ul>
													</td>
													<td rowspan="2" width="8%" class="center">
														<a href="javascript:;" class="btn">{$v.pay_status} </a>
													</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>
																<a href="javascript:;" target="_blank">评价|晒单</a>
															</li>

														</ul>
													</td>
													{/if}
												</tr>
												{/foreach}
												</tbody>
											</table>
											{/foreach}

										</div>
									</div>
									<div id="remark" class="tab-pane">
										<div class="orders">

											{foreach $list_remark as $v}
											<table class="sui-table table-bordered">
												<thead>
												<tr>
													<th colspan="5">
														<span class="ordertitle">2017-02-11 11:59　订单编号：{$v.order_sn} <span class="pull-right delete"><img src="__STATIC__/home/img/delete.png"/></span></span>
													</th>
												</tr>
												</thead>
												<tbody>
												{foreach $v.ordergoods as $k=>$g}
												<tr>
													<td width="60%">
														<div class="typographic"><img src="{$g.goods_logo}" />
															<a href="{:url('home/goods/detail', ['id' => $g.goods_id])}" class="block-text">{$g.goods_name}</a><span>x{$g.number}</span>
															<ul class="unstyled list-inline">
																<li>申请售后</li>
															</ul>
														</div>
													</td>
													{if $k eq 0}
													<td rowspan="2" width="8%" class="center">{$v.consignee_name}</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>总金额¥{$v.order_amount}</li>
															<li>{$v.pay_type}</li>

														</ul>
													</td>
													<td rowspan="2" width="8%" class="center">
														<a href="javascript:;" class="btn">{$v.pay_status} </a>
													</td>
													<td rowspan="2" width="13%" class="center">
														<ul class="unstyled">
															<li>
																<a href="javascript:;" target="_blank">评价|晒单</a>
															</li>

														</ul>
													</td>
													{/if}
												</tr>
												{/foreach}
												</tbody>
											</table>
											{/foreach}

										</div>
									</div>
								</div>
							</div>

						</div>

						<div class="order">
							<div class="mt">
								<span class="fl"><strong>猜你喜欢</strong></span>
							</div>
						</div>
						<div class="like-list">
							<ul class="yui3-g">
								<li class="yui3-u-1-4">
									<div class="list-wrap">
										<div class="p-img">
											<img src="__STATIC__/home/img/_/itemlike01.png" />
										</div>
										<div class="attr">
											<em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
										</div>
										<div class="price">
											<strong>
											<em>¥</em>
											<i>3699.00</i>
										</strong>
										</div>
										<div class="commit">
											<i class="command">已有6人评价</i>
										</div>
									</div>
								</li>
								<li class="yui3-u-1-4">
									<div class="list-wrap">
										<div class="p-img">
											<img src="__STATIC__/home/img/_/itemlike02.png" />
										</div>
										<div class="attr">
											<em>Apple苹果iPhone 6s/6s Plus 16G 64G 128G</em>
										</div>
										<div class="price">
											<strong>
											<em>¥</em>
											<i>4388.00</i>
										</strong>
										</div>
										<div class="commit">
											<i class="command">已有700人评价</i>
										</div>
									</div>
								</li>
								<li class="yui3-u-1-4">
									<div class="list-wrap">
										<div class="p-img">
											<img src="__STATIC__/home/img/_/itemlike03.png" />
										</div>
										<div class="attr">
											<em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
										</div>
										<div class="price">
											<strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
										</div>
										<div class="commit">
											<i class="command">已有700人评价</i>
										</div>
									</div>
								</li>
								<li class="yui3-u-1-4">
									<div class="list-wrap">
										<div class="p-img">
											<img src="__STATIC__/home/img/_/itemlike04.png" />
										</div>
										<div class="attr">
											<em>DELL戴尔Ins 15MR-7528SS 15英寸 银色 笔记本</em>
										</div>
										<div class="price">
											<strong>
											<em>¥</em>
											<i>4088.00</i>
										</strong>
										</div>
										<div class="commit">
											<i class="command">已有700人评价</i>
										</div>
									</div>
								</li>

							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
