<script src="__STATIC__/admin/js/highcharts.js"></script>
<script src="__STATIC__/admin/js/exporting.js"></script>
<script src="__STATIC__/admin/js/draw.js"></script>
    <!-- 右 -->
    <div class="content">
        <!-- header -->
        <div class="header">
            <h1 class="page-title">天气</h1>
        </div>
        <!-- highchat show -->
        <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
