
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">分派权限</h1>
        </div>

        <div class="well">
        正在给【{$info.role_name}】分派权限
        <form action="{:url('saveauth')}" method="post">
            <input type="hidden" name="id" value="{$info.id}">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th>权限分类</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    {foreach $top_auth as $top_v}
                    <tr class="success">
                        <td><input type="checkbox" name="auth_ids[]" value="{$top_v.id}" {in name="top_v.id" value="$info.role_auth_ids"}checked="checked"{/in}>{$top_v.auth_name}</td>
                        <td>
                            {foreach $sec_auth as $sec_v}
                            {if condition="$sec_v.pid eq $top_v.id"}
                            <input type="checkbox" name="auth_ids[]" value="{$sec_v.id}" {in name="sec_v.id" value="$info.role_auth_ids"}checked="checked"{/in}>{$sec_v.auth_name}
                            {/if}
                            {/foreach}
                        </td>
                    </tr>
                    {/foreach}
                </tbody>
            </table>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
