
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">商品详情</h1>
        </div>

        <div class="well">
            <label>商品名称：</label>
            <div>{$info.goods_name}</div>
            <label>商品价格：</label>
            <div>{$info.goods_price}</div>
            <label>商品数量：</label>
            <div>{$info.goods_number}</div>
            <label>商品图片：</label>
            <div><img src="{$info.goods_logo}"></div>
            <label>商品简介：</label>
            <div>{$info.goods_introduce}</div>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
