
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">权限编辑</h1>
        </div>

        <div class="well">
            <!-- add form -->
            <form id="tab" action="{:url('update')}" method="post">
                <input type="hidden" name="id" value="{$info.id}">
                <label>权限名称：</label>
                <input type="text" name="auth_name" value="{$info.auth_name}" class="input-xlarge">
                <label>上级权限</label>
                <select name="pid" class="input-xlarge">
                    <option value="0">作为顶级权限</option>
                    {foreach $top_auth as $v}
                    <option value="{$v.id}" {if ($v.id eq $info.pid)}selected="selected"{/if}>{$v.auth_name}</option>
                    {/foreach}
                </select>
                <div>
                    <label>控制器：</label>
                    <input type="text" name="auth_c" value="{$info.auth_c}" class="input-xlarge">
                </div>
                <div>
                    <label>方法：</label>
                    <input type="text" name="auth_a" value="{$info.auth_a}" class="input-xlarge">
                </div>
                <label>是否菜单项</label>
                <select name="is_nav" class="input-xlarge">
                    <option value="1">是</option>
                    <option value="0" {if $info.is_nav eq 0}{/if}>否</option>
                </select>

                <label></label>
                <button class="btn btn-primary" type="submit">保存</button>
            </form>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
    <script>
        $(function(){
            if($("select[name=pid]").val() == 0){
                //页面加载，隐藏控制器和方法对应的input
                $("input[name=auth_c]").parent().hide();
                $("input[name=auth_a]").parent().hide();
            }
            //给上级权限下拉列表绑定事件
            $("select[name=pid]").on('change', function(){
                //根据选中情况，判断 控制器和方法对应的input 的显示和隐藏
                if($(this).val() != 0){
                    $("input[name=auth_c]").parent().show();
                    $("input[name=auth_a]").parent().show();
                }else{
                    $("input[name=auth_c]").parent().hide();
                    $("input[name=auth_a]").parent().hide();
                }
            });
        })
    </script>
