
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">管理员新增</h1>
    </div>

    <div class="well">
        <!-- add form -->
        <form action="{:url('save')}" method="post" id="tab">
            <label>用户名：</label>
            <input type="text" name="username" value="" class="input-xlarge">
            <label>昵称</label>
            <input type="text" name="nickname" value="" class="input-xlarge">
            <label>邮箱：</label>
            <input type="text" name="email" value="" class="input-xlarge">
            <label>角色</label>
            <select name="role_id">
                <option>==请选择==</option>
                {foreach $role as $v}
                <option value="{$v.id}">{$v.role_name}</option>
                {/foreach}
            </select>
            <label></label>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>
