
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">管理员编辑</h1>
        </div>

        <div class="well">
            <!-- edit form -->
            <form action="{:url('update')}" method="post" id="tab">
                <input type="hidden" name="id" value="{$info.id}">
                <label>用户名：</label>
                {$info.username}
                <label>昵称：</label>
                <input type="text" name="nickname" value="{$info.nickname}" class="input-xlarge">
                <label>邮箱：</label>
                <input type="text" name="email" value="{$info.email}" class="input-xlarge">
                <button class="btn btn-primary" type="submit" >保存</button>
            </form>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
