
<!-- 右 -->
<div class="content">
    <div class="header">
        <h1 class="page-title">修改密码</h1>
    </div>

    <div class="well">
        <!-- add form -->
        <form action="" method="post" id="tab">
            <label>新密码：</label>
            <input type="text" name="password" value="" class="input-xlarge">
            <label>确认密码</label>
            <input type="text" name="repassword" value="" class="input-xlarge">
            <label></label>
            <button class="btn btn-primary" type="submit">保存</button>
        </form>
    </div>
    <!-- footer -->
    <footer>
        <hr>
        <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
    </footer>
</div>
