
    <!-- 右 -->
    <div class="content">
        <div class="header">
            <h1 class="page-title">订单列表</h1>
        </div>

        <div class="well">
            <!--<a class="btn btn-primary" href="javascript:;">新增</a>-->
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>订单编号</th>
                    <th>订单金额</th>
                    <th>用户id</th>
                    <th>订单状态</th>
                    <th>支付方式</th>
                    <th>物流方式</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $v}
                <tr class="success">
                    <td>{$v.id}</td>
                    <td>{$v.order_sn}</td>
                    <td>{$v.order_amount}</td>
                    <td>{$v.user_id}</td>
                    <td>{$v.pay_status}</td>
                    <td>{$v.pay_type}</td>
                    <td>{$v.shipping_type}</td>
                    <td>
                        <a href="{:url('read', ['id' => $v.id])}"> 查看详情 </a>
                        <!--<a href="javascript:void(0);"> 编辑 </a>-->
                        <!--<a href="javascript:void(0);" onclick="if(confirm('确认删除？')) location.href='#'"> 删除 </a>-->
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
        <!-- footer -->
        <footer>
            <hr>
            <p>© 2017 <a href="javascript:void(0);" target="_blank">ADMIN</a></p>
        </footer>
    </div>
